#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.photograph-header {
    background-color: #FAFAFA;
    width: 1240px;
    height: 300px;
    margin-bottom: 70px;
}

.photographer-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 90px;
    margin-top: 50px;
}

.photographer-infos {
    align-items: center;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.photographer-infos h1 {
    color: #D3573C;
    font-size: 60px;
    margin-bottom: 20px;
}

.photographer-location {
    font-size: 20px;
    margin-bottom: 20px;
}

.photographer-tagline {
    font-size: 15px;
    margin-left: 0;
}

.contact_button,
.send_contact {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.photographer-media-section img,
video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.media-info {
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
}

.media-likes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#price-card {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #DB8876;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 999;
}