#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    width: 1440px;
    height: 300px;
    margin: 0 130px;
}

.photographer-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 90px;
    margin-top: 50px;
}

.photographer-infos {
    align-items: center;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.photographer-infos h1 {
    color: #D3573C;
    font-size: 60px;
}

.photographer-location {
    font-size: 20px;
}

.photographer-tagline {
    font-size: 15px;
    margin-left: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin: 130px;
}

.photographer-media-section img {
    width: 350px;
    height: 300px;
}

.photographer-media-section video {
    width: 350px;
    height: 300px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}