@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    min-width: 375px;
    height: 100%;
    margin: 0 auto;
}

main-nav:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 3px dashed #eb3d4c;
    /* Couleur de la bordure au focus */
    outline-offset: 4px;
    /* Décale la bordure pour plus de lisibilité */
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(255, 71, 87, 0.6);
}

header {
    display: flex;
    align-items: center;
    gap: 590px;
    width: 100%;
    max-width: 1200px;
    height: 90px;
    margin: auto;
    margin-top: 40px;
    padding: 0 20px;
    /*margin-bottom: 50px;*/
}

h1 {
    color: #901C1C;
    width: 300px;
}

.logo {
    width: 200px;
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    text-decoration: none;
    margin: 40px;
    margin-top: 80px;
    /*padding: 0 20px;*/
}

.photographer_section a {
    text-decoration: none;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 20px;
    cursor: pointer;
}

.photographer_section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer-location {
    color: #901C1C;
    margin: 0;
    font-size: 15px;
}

.photographer-price {
    margin: 5px;
    font-size: 12px;
    color: black;
}

.photographer-tagline {
    margin: 5px;
    font-weight: bold;
    font-size: 13px;
    color: black;
}

/* le focus on doit le mettre sur tous les elements, pas seulement sur le lien 
.photographer-link:focus-visible {
    outline: 3px dashed #eb3d4c;
    outline-offset: 4px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(255, 71, 87, 0.6);
}
    */